$color-base: hsl(152, 100%, 30%);

%comunes {
    height: 100px;
    float: left;
    width: 15%;
    margin: 1px;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis {
    @extend %comunes;
}
#uno{
    background: $color-base;
}
#dos{
    background: lighten($color-base, 10%);
}
#tres{
    background: darken($color-base, 10%);
}
#cuatro{
    background: desaturate($color-base, 80%);
}
#cinco{
    background: complement($color-base);
}
#seis{
    background: complement(#990047);
}